.header {
    background-color: rgba(18, 22, 24, 1);
    padding: 40px 0 0;
    position: relative;
    height: 80px;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: baseline;
    position: relative;
}

.logo-img {
    height: 86px;
    margin-right: 76px;
    position: absolute;
    z-index: 5;
    top: -5px;
}

.logo-text {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3%;
    margin-left: 110px;
    line-height: 1;
    position: relative;
    bottom: -5px;
}

.logo-text span {
    color: rgba(7, 150, 239, 1);
}

.nav-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: rgba(245, 245, 245, 1);
    font-size: 18px;
}

.nav-menu a:hover {
    color: #00aaff;
    transition: color 0.3s ease;
}

/* Mobile Menu Icon */
.menu-icon {
    display: none;
    color: #fff;
    cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .logo-img {
        width: 50px;
        height: 44px;
        margin: 0 auto;
        position: relative;
        top: -14px;
    }

    .logo-text {
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding: 0 10px;
    }

    .header {
        height: 50px;
    }

    .nav-menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: -34px;
        right: 0px;
        background-color: rgba(18, 22, 24, 1);
        padding: 20px;
        width: 200px;
        margin-top: auto;
        z-index: 3;
    }

    .nav-menu.open ul {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        width: 40px;
        height: auto;
        position: absolute;
        top: -25px;
        right: 10px;
        cursor: pointer;
    }

    .menu-icon .icon {
        margin-top: 0;
    }
}